body {
  display:flexbox;
}
header {
  width: 650px;
  margin-left: 400px;
  border: 2px solid red;
  border-radius: 50px;
}
.title {
  padding-top: 15px;
  margin-left: 50px;
  text-align: left;
  width: 600px;
  height: 100px;
  background: url(logo.jpg) ;
  border-radius: 50px; 
  background-size: 100%; 
  background-repeat: no-repeat;
}
nav {
  margin-left: 70px;
}
.nav {
  width: 100px;
  padding-top: 5px;
  display:inline-block;
  margin-left: 50px;
  text-align: center;
}
.info {
  margin-left: 420px;
}

img {
  margin-top: 20px;
  width: 250px;
  height: 150px; 
}
h2 {
  margin-top: 50px;
  float: right ;
  margin-right: 500px;
  text-align: center;
  color: rgb(226, 43, 107); 
  font-style: italic;
}
.question {
  margin-left: 400px;
}
.q1 {
  width: 350px;
  height: 100px;
  padding-top: 15px;
  margin-top: 20px;
  text-align: center;
  background-color: rgba(126, 61, 187, 0.229);
  border-radius: 50px;
}
.answer {
  font-style: italic;
}
.q2 {
  width: 350px;
  height: 100px;
  padding-top: 15px;
  margin-top: 5px;
  text-align: center;
  background-color: rgba(170, 187, 61, 0.229);
  border-radius: 50px;
  margin-left: 300px;
}
.q3 {
  width: 350px;
  height: 100px;
  padding-top: 15px;
  margin-top: 5px;
  text-align: center;
  background-color: rgba(40, 91, 172, 0.229);
  border-radius: 50px;
}
.poem {
  width: 300px;
  text-align: center;
  margin-top: 30px;
  margin-left: 600px;
  font-size: 20px;
  font-style: italic; 
}
footer {
  width: 650px;
  margin-left: 400px;
  border: 2px solid red;
  border-radius: 50px;
}
.last_pic {
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 30px;
  width: 90px;
  height: 70px;
}
ul {
  margin-top: 35px;
  float: right;
  margin-right: 400px;
  margin-bottom: 0%;
  
}
.author {
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
}

